<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.caffieneproductivityapp">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ViewRatingDataActivity"
                  android:label="@string/title_activity_view_data"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".RateProductivityActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:label="@string/title_activity_rate_productivity"
        >
        </activity>

        <receiver
                android:name=".NotificationService"
                android:enabled="true"
                android:exported="true">
        </receiver>

        <activity
                android:name=".ViewDataActivity"
                android:label="@string/title_activity_view_data"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ViewHistoryActivity"
                android:label="@string/title_activity_view_history"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".SettingsActivity"
                android:label="@string/title_activity_settings">
        </activity>
        <activity
                android:name=".LogDrinkActivity"
                android:label="@string/title_activity_log_drink"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".MainActivity"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>